<div class="container">
  <h2>Relatórios de Centro de Custo</h2>
<div class="row" style="display: flex; justify-content: space-between;">
  <mat-form-field appearance="outline">
    <mat-label>Centro de Custo</mat-label>
    <mat-select [(ngModel)]="centroCustoSelecionado">
      <mat-option *ngFor="let centro of centrosCusto" [value]="centro.idctocusto">
        {{ centro.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  

  <mat-form-field class="full-width">
    <mat-label>Tipo de Relatório</mat-label>
    <mat-select [(ngModel)]="tipoSelecionado" (selectionChange)="carregarRelatorio()">
      <mat-option *ngFor="let tipo of tiposRelatorio" [value]="tipo">{{ tipo }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="table-container" 
     [ngClass]="{'table-container-sintetico': tipoSelecionado === 'Sintético', 'table-container-analitico': tipoSelecionado === 'Analítico'}">
  <table mat-table [dataSource]="relatorioDados" class="mat-elevation-z8" *ngIf="relatorioDados.length > 0">
    <!-- Definindo dinamicamente as colunas -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef class="header-highlight">{{ displayedColumnTitles[column] }}</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'highlight-row': element.descricao === 'RESULTADO' || element.descricao === 'RESULTADO TOTAL -->'}">

        <ng-container *ngIf="column === 'totalMovimentado' || column === 'valor_total' || column === 'valor_unitario'; else defaultColumn">
          {{ element[column] | currency:'BRL':'symbol':'1.2-2' }}
        </ng-container>
        <ng-template #defaultColumn>
          {{ element[column] }}
        </ng-template>
      </td>
      
    </ng-container>

    <!-- Cabeçalho -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-highlight"></tr>

    <!-- Linhas de dados -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
</div>





<button mat-button color="primary" (click)="gerarPDF()" *ngIf="relatorioDados.length > 0 && tipoSelecionado === 'Sintético'">
  Exportar PDF Sintético
</button>

<button mat-button color="primary" (click)="gerarPDFAnalitico()" *ngIf="relatorioDados.length > 0 && tipoSelecionado === 'Analítico'">
  Exportar PDF Analítico
</button>

</div>
