.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  button {
    margin-top: 15px;
  }
  .text-right {
    text-align: right;
  }
  .total-row {
    font-weight: bold;
  }
  
  .total-label {
    text-align: left;
  }
  
  .total-value {
    text-align: right;
  }
  .text-right {
    text-align: left;
    white-space: nowrap;
    align-items: center;
  }

  .table-container {
    width: 100%;
    overflow-x: auto; // Permite o scroll horizontal no mobile
    -webkit-overflow-scrolling: touch; // Melhora a rolagem em dispositivos iOS
  
    table {
      min-width: 600px; // Define um tamanho mínimo maior que a tela para ativar o scroll
      border-collapse: collapse;
      width: 100%;
    }
  
    th, td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: left;
    }
  }
  /* Estiliza a linha do resultado */
/* Estiliza a linha do resultado */
.highlight-row {
  background-color: #e0f7fa; /* Azul claro */
  font-weight: bold;
  color: #01579b; /* Azul escuro */
  text-align: center; /* Alinha o texto no centro */
}

/* Estiliza o cabeçalho da tabela */
.header-highlight {
  background-color: #1976d2; /* Cor azul do relatório */
  color: #ffffff; /* Texto branco para contraste */
  font-weight: bold;
  text-align: center;
}

