.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  button {
    margin-top: 15px;
  }
  .text-right {
    text-align: right;
  }
  .total-row {
    font-weight: bold;
  }
  
  .total-label {
    text-align: left;
  }
  
  .total-value {
    text-align: right;
  }
  