<div class="container">
  <h2>Cadastro de Usuário</h2>
  
  <form [formGroup]="cadastroUsuarioForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Digite o nome" formControlName="nome">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>CPF</mat-label>
      <input matInput placeholder="Digite o CPF" formControlName="cpf">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Login</mat-label>
      <input matInput placeholder="Digite o login" formControlName="login">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput type="password" placeholder="Digite a senha" formControlName="senha">
    </mat-form-field>

    <mat-checkbox formControlName="status">Administrador</mat-checkbox>

    <div class="button-container">
      <button mat-raised-button color="primary" (click)="cadastrar()">Cadastrar</button>
      <button mat-raised-button color="accent" routerLink="/consulta-usuario">Ir para Consulta</button>
    </div>
  </form>
</div>
