<div class="consulta-container">
    <h2>Consulta de Usuários</h2>
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" [(ngModel)]="nome" placeholder="Digite o nome" />
    </div>
    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input type="text" id="cpf" [(ngModel)]="cpf" placeholder="Digite o CPF" />
    </div>
    <button (click)="onConsultar()" class="consultar-btn">Consultar</button>
    <button (click)="irParaConsulta()" class="btn btn-secondary">Ir para Cadastro</button>
  
    <table *ngIf="usuarios.length > 0" class="usuarios-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Login</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.cpf }}</td>
          <td>{{ usuario.login }}</td>
          <td>{{ usuario.status === 1 ? 'Administrador' : 'Usuário' }}</td>
          <td>
            <button (click)="excluirUsuario(usuario)" class="btn btn-danger">
              Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  