/* You can add global styles to this file, and also import other style files */
body{
 //   background-image: url(../assets/img/banner_login.png);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-sidenav-container {
    height: 100vh; // Ocupa a tela toda
    display: flex;
  }
  
  mat-sidenav-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
  }
  