<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <div class="sidebar">
      <button style="color: #ffff; " mat-icon-button (click)="toggleSidenav()">
        <mat-icon>{{ isExpanded ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <h2 class="bem" *ngIf="isExpanded">Bem-vindo</h2>

      
      <ul>
        <!-- CONTROLE DE ACESSO COM SUBMENU -->
        <li (click)="toggleSubMenu('controleAcesso')">
          <mat-icon>security</mat-icon>
          <span *ngIf="isExpanded || !isMobile">Controle de Acesso</span>
          <mat-icon *ngIf="isExpanded">{{ submenus['controleAcesso'] ? 'expand_less' : 'expand_more' }}</mat-icon>
        </li>
        <ul *ngIf="submenus['controleAcesso']">
          <li><a routerLink="/cadastro-usuario"><mat-icon>person_add</mat-icon> Cadastro</a></li>
          <li><a routerLink="/consulta-usuario"><mat-icon>search</mat-icon> Consulta</a></li>
        </ul>

        <!-- CENTRO DE CUSTO COM SUBMENU -->
        <li (click)="toggleSubMenu('centroCusto')">
          <mat-icon>account_balance</mat-icon> 
          <span *ngIf="isExpanded && !isMobile">Centro de Custo</span>
          <mat-icon *ngIf="isExpanded">{{ submenus['centroCusto'] ? 'expand_less' : 'expand_more' }}</mat-icon>
        </li>
        <ul *ngIf="submenus['centroCusto']">

          <li><a routerLink="/cadastro-centro-custo"><mat-icon>add</mat-icon> Cadastro</a></li>
          <li><a routerLink="/consulta-centro-custo"><mat-icon>search</mat-icon> Consulta</a></li>

        </ul>

        <!-- SUPRIMENTOS COM SUBMENU -->
        <li (click)="toggleSubMenu('suprimentos')">
          <mat-icon>inventory</mat-icon> 
          <span *ngIf="isExpanded">Plano de Conta</span>
          <mat-icon *ngIf="isExpanded">{{ submenus['suprimentos'] ? 'expand_less' : 'expand_more' }}</mat-icon>
        </li>
        <ul *ngIf="submenus['suprimentos']">
          <li><a routerLink="/cadastro-suprimentos"><mat-icon>add</mat-icon>Cadastro</a></li>
          <li><a routerLink="/consulta-suprimentos"><mat-icon>search</mat-icon>Consulta</a></li>
        </ul>

        <!-- RELATÓRIOS -->
        <li>
          <a routerLink="/relatorios">
            <mat-icon  style=" color: #ffff; ">bar_chart</mat-icon> <span style="font-size: 100%; color: #ffff; " *ngIf="isExpanded">Relatórios</span>
          </a>
        </li>

        <!-- SAIR -->
        <li>
          <a (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> <span *ngIf="isExpanded">Sair</span>
          </a>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <!-- SAIR <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content> -->
 
</mat-sidenav-container>
