.sidebar {
  width: 250px; // Menu expandido
  transition: width 0.3s ease;
  background-color: #1f2d3d;
  height: 100vh;
  overflow: hidden;

  &.collapsed {
    width: 70px; // Menu recolhido
  }
  .bem{
    color: white;
   margin-left: 25%;
  }

  ul {
    padding: 0;
    list-style: none;
    margin-top: 10px;

    li {
      padding: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: white;
      transition: background 0.3s;
      position: relative;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }

      mat-icon {
        margin-right: 15px;
        min-width: 40px;
        text-align: center;
      }

      span {
        white-space: nowrap;
        overflow: hidden;
        transition: opacity 0.3s ease, width 0.3s ease;
      }
    }
  }
}

// 🔹 Quando o menu estiver recolhido, esconde as descrições
.sidebar.collapsed ul li span {
  opacity: 0;
  width: 0;
  overflow: hidden;
  display: none !important;
}

// 🔹 Ajusta a posição dos ícones para centralizar no modo recolhido
.sidebar.collapsed ul li {
  justify-content: center;
}

@media (max-width: 768px) {
  .sidebar {
    width: 70px;
  }
  .sidebar ul li span {
    display: none;
  }
  .sidebar ul li {
    justify-content: center;
  }
  // 🔹
  .sidebar ul li span {
    display: none;
  }    
  //faço o mesmo ajuste ou melhor para dispositivos menores
  .sidebar.collapsed ul li span {
    display: none;
  }
  
}

