<div class="sidebar">
  <h2>Bem-vindo</h2>
  <ul>
   
    <li ><a routerLink="/consulta-usuario">Consulta de Usuário</a></li>
    <li ><a routerLink="/cadastro-usuario">Cadastro de Usuário</a></li>
    <li ><a routerLink="/cadastro-centro-custo">Cadastro Centro de Custo</a></li>
    <li ><a routerLink="/consulta-centro-custo">Cadastro Centro de Custo</a></li>
    <li ><a routerLink="/cadastro-suprimentos">Cadastro Insumos</a></li>
    <li ><a routerLink="/consulta-suprimentos">Consulta Insumos</a></li>
    <li ><a routerLink="/relatorios">Relatórios</a></li>
    <li><a (click)="logout()">Sair</a></li>
  </ul>
</div>
