<div class="cadastro-container">
  <h1>Cadastro de Pessoas</h1>
  <form class="form-cadastro">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" [(ngModel)]="novaPessoa.nome" name="nome"/>
    </div>
    <br/>
    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input
        id="cpf"
        [(ngModel)]="novaPessoa.cpf"
        name="cpf"
        type="text"
        placeholder="Digite o CPF"
        class="form-control"
        maxlength="11"
      />
    </div>
    <br/>
    <div class="form-group">
      <label for="telefone">Telefone:</label>
      <input type="text" id="telefone" [(ngModel)]="novaPessoa.telefone" name="phone"/>
    </div>
    <br/>
    <div class="form-group">
      <label for="loginGov">Login Gov:</label>
      <input type="text" id="loginGov" [(ngModel)]="novaPessoa.loginGov" name="login" />
    </div>
    <br/>
    <div class="form-group">
      <label for="senhaGov">Senha Gov:</label>
      <input type="text" id="senhaGov" [(ngModel)]="novaPessoa.senhaGov" name="password" />
    </div>
    <br/>
    <button (click)="adicionarPessoa()" class="btn">Adicionar</button>
    <button (click)="irParaConsulta()" class="btn btn-secondary">Ir para Consulta</button>
  </form>
</div>
